# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
*~
.idea
features/org.wso2.carbon.lcm.sql.feature/resources/database/
features/org.wso2.carbon.lcm.sql.feature/resources/database/WSO2LIFECYCLE_DB.mv.db
features/org.wso2.carbon.lcm.sql.feature/resources/database/WSO2LIFECYCLE_DB.h2.db